
:root {
    --panel-background-color: hsl(340, 13%, 85%);
    --panel-border-color: hsl(340, 13%, 75%);
    --panel-text-color: hsl(235, 10%, 25%);
    --panel-text-color-hover: hsl(235, 10%, 35%);
    --button-background-color: #2c1621;
    --button-background-color-hover: hsl(330, 34%, 23%);
    --button-text-color: hsl(343, 35%, 76%);
    --button-text-color-hover: hsl(343, 35%, 86%);
    --link-color: hsl(336, 65%, 22%);
    --link-color-hover: hsl(336, 65%, 32%);
    --contianer-background-color: hsl(342, 18%, 71%);
    --contianer-text-color: hsl(342, 18%, 15%);
    --floating-text-color: hsl(348, 6%, 55%);

    --corners: .5em;

    --panel-shadow-color: 345deg 16% 14%;
    --panel-shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--panel-shadow-color) / 0.34),
        0.4px 0.8px 1px -1.2px hsl(var(--panel-shadow-color) / 0.34),
        1px 2px 2.5px -2.5px hsl(var(--panel-shadow-color) / 0.34);
    --panel-shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--panel-shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--panel-shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--panel-shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--panel-shadow-color) / 0.36);
    --panel-shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--panel-shadow-color) / 0.34),
        1.5px 2.9px 3.7px -0.4px hsl(var(--panel-shadow-color) / 0.34),
        2.7px 5.4px 6.8px -0.7px hsl(var(--panel-shadow-color) / 0.34),
        4.5px 8.9px 11.2px -1.1px hsl(var(--panel-shadow-color) / 0.34),
        7.1px 14.3px 18px -1.4px hsl(var(--panel-shadow-color) / 0.34),
        11.2px 22.3px 28.1px -1.8px hsl(var(--panel-shadow-color) / 0.34),
        17px 33.9px 42.7px -2.1px hsl(var(--panel-shadow-color) / 0.34),
        25px 50px 62.9px -2.5px hsl(var(--panel-shadow-color) / 0.34);

    --shadow-color: 343deg 6% 46%;
    --shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.42),
        0.4px 0.9px 1.1px -1.2px hsl(var(--shadow-color) / 0.42),
        1.1px 2.2px 2.8px -2.5px hsl(var(--shadow-color) / 0.42);
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.44),
        0.9px 1.8px 2.3px -0.8px hsl(var(--shadow-color) / 0.44),
        2.3px 4.5px 5.7px -1.7px hsl(var(--shadow-color) / 0.44),
        5.6px 11.1px 14px -2.5px hsl(var(--shadow-color) / 0.44);
    --shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.41),
        1.7px 3.5px 4.4px -0.4px hsl(var(--shadow-color) / 0.41),
        3.3px 6.5px 8.2px -0.7px hsl(var(--shadow-color) / 0.41),
        5.4px 10.8px 13.6px -1.1px hsl(var(--shadow-color) / 0.41),
        8.7px 17.3px 21.8px -1.4px hsl(var(--shadow-color) / 0.41),
        13.6px 27.2px 34.2px -1.8px hsl(var(--shadow-color) / 0.41),
        20.7px 41.4px 52.1px -2.1px hsl(var(--shadow-color) / 0.41),
        30.5px 61px 76.7px -2.5px hsl(var(--shadow-color) / 0.41);
}


a {
    font-weight: 600;
    color: var(--link-color);
    text-decoration: inherit;
}
a:hover {
    color: var(--link-color-hover);
}

button, input[type="text"], .linkButton, select {
    font-weight: 600;
    border-radius: calc(var(--corners) / 2);
    border: 1px solid transparent;
    font-family: inherit;
    transition: background-color 0.2s, color 0.2s, outline-color 0.3s;
    box-shadow: var(--shadow-elevation-low);
}

button, .linkButton, select {
    cursor: pointer;
}

input[type="text"], select {
    padding: 0.6rem .6rem;
    outline: 4px auto #00000000;
}

button, .linkButton {
    padding: 0.3rem 1.2rem;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
}

button:hover, .linkButton:hover {
    background-color: var(--button-background-color-hover);
    color: var(--button-text-color-hover);
}

button:focus, button:focus-visible, .linkButton:focus, .linkButton:focus-visible {
    outline-color: var(--button-text-color);
}

input[type="text"]:focus, input[type="text"]:focus-visible, select:focus, select:focus-visible {
    outline-color: var(--button-background-color);
}

input[type="text"]:disabled, select:disabled {
    cursor: not-allowed;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-weight: 600;
}

h3 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 400;
}
