#url-input-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 2em);
    z-index: 1;
    background-color: var(--panel-background-color);
    color: var(--panel-text-color);
    margin: 1em;
    padding: 1em;
    border-radius: var(--corners);
    box-shadow: var(--panel-shadow-elevation-medium);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

#url-input-form button {
    align-self: stretch;
    max-width: 200px;
}

#url-input-form-left {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 4;
}

#url-input-form input {
    flex: 4;
}

#url-input-form button {
    flex: 1;
}

#url-input-form select {
    flex: 2;
    width: 100%;
}

#controls-hint {
    position: absolute;
    top: -2em;
    left: 1em;
    width: 100%;
    font-size: 0.8em;
    color: var(--floating-text-color);
    opacity: 0.7;
    font-weight: 600;
    pointer-events: none;
}
